body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
/*  font-weight: bold;*/
	color: #33CC99;
	background-color: #33CC99;
}

.wrapper {
	width: 95%;
	position: relative;
	max-width: 60em;
	min-width: 20em;
	margin: 0 auto;
	margin-top: 1.25em;
	width: 94%;
}

/* Common */
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 16px;
}
a {
	color: #ded4a0;
	text-decoration: none;
}
.clear {
	clear: both;
}

/* Navigation */
nav {
	font-size: 1.625em;
	clear: both;
	border-bottom: 2px solid #9cd;
	margin-top: 2.2em;
	text-transform: uppercase;
	color: #fff;
	display: block;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	float: left;
	margin: 0;
	margin-right: 4%;
	padding: 0;
	list-style: none;
	text-align: center;
	background: none;
}
nav a {
	position: relative;
	bottom: -2px;
	display: inline-block;
	padding-bottom: 4px;
	z-index: 10;
}
nav a.selected,
nav a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid #fff;
	color: #fff;
}

/* Headline */
.Headline {
  width: 100%;
  line-height: 1;
  margin: 7.2916667% 0 6.25% 0;
  padding: 0;
}





