body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #93cfd6;
}

.wrapper {
	width: 95%;
	position: relative;
	max-width: 60em;
	min-width: 20em;
	margin: 0 auto;
	margin-top: 1.25em;
	width: 94%;
}